

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }



@import url(http://fonts.googleapis.com/css?family=Signika:300);
@import url(http://fonts.googleapis.com/css?family=Satisfy);

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.eot');
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.eot?iefix') format('eot'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.woff') format('woff'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.svg#webfont6hibqX7I') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	text-align: center;
	background: #383838 url(http://www.midwinter-dg.com/images/theme/body.gif) repeat;
	width:1000px;
	margin: 80px auto 40px;
}

h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 80px 'ChunkFiveRegular';
}

em{  bottom: 10px;
font-size: 10px;
left: 8px;
position: relative;}

p {
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



.container-narrow {
    margin: 0 auto;
    max-width: 980px;
	overflow:auto;
}



.last{ margin-right:0px;}

#desktop:checked ~ #wrapper .desktop,
#tablet:checked ~ #wrapper .tablet,
#mobile:checked ~ #wrapper .mobile,
#fullwidth:checked ~ #wrapper .fullwidth {
	background:  #EB6156;
	
}




#container input{ display:none;}
#reveslides{ background:#FFFFFF; padding: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);}

#hide{overflow: hidden; width: 100%;}


#reveslides .animation {
-webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}

#wrapper {
-webkit-transform: translateZ(0);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
}

.slide img {
	width: 100%;
}
#reveslides .animation {
	width: 600%;
	line-height: 0;
}

#reveslides .slide {
	width: 16.6667%;
	float: left;
}


#slide1:checked ~ #reveslides .animation { margin-left:0; }
#slide2:checked ~ #reveslides .animation { margin-left:-100%; }
#slide3:checked ~ #reveslides .animation { margin-left:-200%; }
#slide4:checked ~ #reveslides .animation { margin-left:-300%; }
#slide5:checked ~ #reveslides .animation { margin-left:-400%; }
#slide6:checked ~ #reveslides .animation { margin-left:-500%; }

/*Tooltip*/

#reveslides .tooltip {
left:0px;
}
#reveslides .tooltip h1 {
	color:#fff;
	font-size:24px;
	font-weight:300;
	line-height:60px;
}

#slide1:checked ~ #reveslides .tooltip, 
#slide2:checked ~ #reveslides .tooltip, 
#slide3:checked ~ #reveslides .tooltip, 
#slide4:checked ~ #reveslides .tooltip, 
#slide5:checked ~ #reveslides .tooltip,
#slide6:checked ~ #reveslides .tooltip {
	
	height:60px;
	background:#373535; 
}



#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#active {
	margin: 10% 0 0;
	text-align: center;
}

#active label {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #f89e67;
	cursor:pointer;
}

#active label:hover {
	background: #F65D00;
	
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(6), 
#slide6:checked ~ #controls label:nth-child(1) {
	background: url('../images/right-arrow.png') no-repeat;
	float: right;
	display: block;
	cursor:pointer;
}


#slide1:checked ~ #controls label:nth-child(6),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4), 
#slide6:checked ~ #controls label:nth-child(5){
	background: url('../images/left-arrow.png') no-repeat;
	float: left;
	display: block;
	cursor:pointer;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5), 
#slide6:checked ~ #active label:nth-child(6){
	background: #F65D00;
	border-color: #F65D00 !important;
	cursor:pointer;
}



#wrapper{ margin: 0 auto 132px; }

#desktop:checked ~ #wrapper { max-width: 980px; }

#fullwidth:checked ~ #wrapper { width:auto; }

#tablet:checked ~ #wrapper { max-width: 850px; }

#tablet:checked ~ #wrapper #active{margin: 6% 0 0;}

#tablet:checked ~ #wrapper #controls label{margin-top: -40px;}


#mobile:checked ~ #wrapper { max-width: 450px; }

#mobile:checked ~ #wrapper #active{margin: -8% 0 0;}

#mobile:checked ~ #wrapper #controls label{margin-top: -58px;}



#fullwidth:checked ~ #wrapper {
    margin: 0 auto 160px;
}


#fullwidth:checked ~ #wrapper #reveslides{ background:transparent; padding: 0px; box-shadow: none;}



@media (max-width: 480px) {
	
	
	#wrapper #active {
		margin: -20% 0 0;
	}

}



@media only screen and (max-width: 450px) {

	#wrapper #controls label{
		margin-top: -74px;
	}
	
	#wrapper #active{margin: -22% 0 0;}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

#wrapper #controls label{
        
		margin-top: -70px;
	}
	
#wrapper #active{margin: 5% 0 0;}

}



.footer .left{ float:left;}
.footer .right{ float:right;}
.footer  ul{ text-align:center;}
.footer li{ margin-bottom:10px; font-size:16px;}


.footertext{ text-align:center; margin-top:25px;}











