{% extends '::base.html.twig' %}


{% block body -%}
   
    <head>
           <div id='cssmenu'>
    <ul>
   <li class='active'><a href="{{ path('custom_cms_homepage')}}" >Home</a></li>
   <li><a href='{{ path('sendMail')}}'>Contact</a></li>
  </ul>
          </div>
</head>
     
       <header>
        <h1 class="fade-in">WELCOME ONBOARD</h1>
</header>

	
<div id="container">

	<div id="wrapper">
		
		
            <br/>
            <br/>
		<input checked="checked" name="wrapper" id="slide1"  type="radio">
		<input name="wrapper" id="slide2" type="radio">
		<input name="wrapper" id="slide3" type="radio">
		<input name="wrapper" id="slide4" type="radio">
		<input name="wrapper" id="slide5" type="radio">
                <input name="wrapper" id="slide6" type="radio">
  
		<div id="reveslides">
			 <div id="hide">
			 	<div class="animation">
					<div class="slide">
						<img src="images/slide-1.jpg">
						<div class="tooltip"><h1>Skill-1</h1></div>
					</div>
					<div class="slide">
						<img src="images/slide-2.jpg">
						<div class="tooltip"><h1>Skill-2</h1></div>
					</div>
					<div class="slide">
						<img src="images/slide-3.jpg">
						<div class="tooltip"><h1>Skill-3</h1></div>
					</div>
					<div class="slide">
						<img src="images/slide-4.jpg">
						<div class="tooltip"><h1>Skill-4</h1></div>
					</div>
					<div class="slide">
						<img src="images/slide-5.jpg">
						<div class="tooltip"><h1>Skill-5</h1></div>
					</div>
                                    <div class="slide">
						<img src="images/slide-6.jpg">
						<div class="tooltip"><h1>Skill-6</h1></div>
					</div>
					 
				</div>
			 </div>
		</div>
		
		<div id="controls">
			<label for="slide1"></label>
			<label for="slide2"></label>
			<label for="slide3"></label>
			<label for="slide4"></label>
			<label for="slide5"></label>
                        <label for="slide6"></label>
		</div>
		
		<div id="active">
			<label for="slide1"></label>
			<label for="slide2"></label>
			<label for="slide3"></label>
			<label for="slide4"></label>
			<label for="slide5"></label>
                        <label for="slide6"></label>
		</div>
				
	  		
	</div>
</div>
    
    <footer class="fade-in">
		&copy: KMH 2014 | karar.habib2@metropolia.fi | <a href="http://metropolia.fi">Metropolia.fi</a>
	</footer>
        {% endblock %}

 